.row{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    background-color: cadetblue;
    
}
@media(max-width:800px){
.row{
    background-color: chartreuse;
}

}
@media(max-width:400px){
    .row{
        background-color: crimson;
    }
}